.table-heading {
    text-align: center;
    font-size: 1.5em;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}

.grid-child {
    margin: 20px;
    border: 2px solid black;
}
