ul {
    text-align: center;
}
.footer {
  display: flex;
  // align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem;
  background-color: darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;

}


// .paragraph-container {
//     margin-top: 5%;
//     margin-bottom: 5%;
//     border: 1px black solid;
// }


.flexbox-container{
  position: sticky;
  margin-top: 2%;
  display: flex;
  // margin-top: 10%;
 
  // justify-content: space-between; /* space flex items apart, with no space on left and right edges */
  text-align: center;
  // min-height: 100vh; /* set min height to 100% viewport height */
  // font-size: 2em;
  flex-wrap: wrap-reverse;
}
.fill{
  flex: 1 0 15%; /* alternate way to specify a fixed width for a flex item */
  // border: 2px solid red;
}
.fillx2{
  flex: 2 0 70%;
  // border: 2px solid red;
}
.box-center{
  // border: 2px solid red;
  width: 300px;
  // height: 200px;
  // margin: 10px;
}
.box-left{
  // border: 2px solid red;
  width: 300px;
  // height: 200px;
  // margin: 10px;
}   
.box-right{
  // border: 2px solid red;
  width: 300px;
  // height: 200px;
  // margin: 10px;
}
// .home-container {
//     width: 100%;
//     height: 100%;
//     display: flex; 
//     flex-direction: row;
//     flex-wrap: wrap-reverse;
//     // justify-content: flex-start;
//     // flex-direction: row-reverse;
//     // justify-content: baseline;
//   }
//   .flex-item {
//     // width: 25%;
//     background-color: #4da6ff;
//   }
//   // .flex-center {
//   //   width: 40%;
//   // }

  .leftpane {
      width: 100%;
      // height: 60%;
      border-right: 2px solid black;
    //   float: left;
      background-color: darkgrey;
      border-collapse: collapse;
  } 
  
  .middlepane {
      width: 100%;
      background-color: darkgrey;
      height: 100%;
      // height: 50%;
    //   float: left;
      // background-color: royalblue;
      border-collapse: collapse;
  }
  
  .rightpane {
    width: 100%;   
    border-left: 2px solid black;
    height: 100%;
    background-color: darkgrey;
    // height: 50%;   
    // position: relative;  
    // float: right;   
    // background-color: yellow;   
    border-collapse: collapse;    
    text-align: center; 
  }
  
  .toppane {
    width: 100%;
    height: 5%;
    margin: auto;
    border-collapse: collapse;
    // background-color: #4da6ff;
    text-align: center;
  }