.tableHeader {
// margin-left: 100px;
// margin-right: 100px;
position: sticky;
top: 70px;
// overflow: hidden;
// background: #7b8d9b;
// margin-top: 150px;

// display: flex;
// align-items: center;
// justify-content: center;
button {
  top: 100px;
  margin-top: auto;
  height: 50px;
  margin-bottom: auto;
}
}

// .mainParent {
//   // height: 90%;
//   // width: 80%;
//   top: 100px;
//   background: rgba(222, 222, 222, 0.10);
//   // color: #ddd;
//   // overflow-y: hidden;
//   // border: 4px solid #ddd;
// }

.normsTable {
    // position: relative;
    text-align: center;
  }
  
  .normsTable th {
    position: sticky;
    top: 240px; //140
    background: #7b8d9b;
    border: 3px #7b8d9b solid;
  }
  h5 {
    text-align: center;
  }

  .filterContainer {
    // position: sticky;
    // top: 150px;
    // margin-top: 150px;
    border: 2px #7b8d9b solid;
    display: flex;
    overflow-y: hidden;
    opacity: 100%;

    align-items: center;
    justify-content: center;
    background-color: white;
    button {
      left: 20px;
      right: 20px;
      top: 100px;
      margin-top: auto;
      height: 50px;
      margin-bottom: auto;
    }
  }

  .reportingConatiner {
    // position: sticky;
    top: 140px;
    background-color: white;
    border: 2px #7b8d9b solid;
    height: 300px;
    z-index: -1;
    display: flex;
  }

  .left-container {
    flex: 1 1 80%;
  }
  
  .right-container {
    flex: 1 1 20%;
    display: flex;
    // font-size: x-small;
    flex-direction: column;
    overflow-y:auto
  }