

.scheduler thead {
    border: 1px solid blue;
    // position: sticky;
    top: 75px 
}
.scheduler-bg-table, .resource-table {
    overflow-y: auto;
    top:00px;
}

.scheduler-bg-table thead, .resource-table thead {
    border: 2px solid red;
    // position: relative;
    // top: 280px; 
    background-color: blanchedalmond !important
    // display:none;
}
